flask
flask-pymongo
flask-cors
flask-jwt-extended
werkzeug
pypdf
langchain
langchain_huggingface
langchain_community
transformers
faiss-cpu
sentence-transformers
accelerate
huggingface_hub
bitsandbytes
pytest 
pytest-flask
pytest-mock
llama-cpp-python